body {
  background-image: url("https://static.comunicae.com/photos/notas/1254003/IMG_FP_Euroformac.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 90%;
  min-height: 100vh;
}

.menu {
  background-color: #003f5a;
  padding: 1rem 0;
}

.img-center {
  text-align: center;
}

.blue-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 63, 90, 0.5); /* azul oscuro con opacidad */
  z-index: -1;
}

.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

footer {
  background-color: #003f5a;
  color: #fbb900;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 auto;
  max-width: 1200px;
}
